<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Root Context: defines shared resources visible to all other web components -->

	<!-- Initialization for data source -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:REDDY13" />
		<property name="username" value="HR" />
		<property name="password" value="Surendra123" />
	</bean>

	<bean id="employeeServiceImplUsingJDBCDaoSupport" class="com.appdomain.service.impl.EmployeeServiceImplUsingJDBCDaoSupport">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="getAllEmployeesService" class="com.appdomain.service.impl.GetAllEmployeesServiceImpl">
		<property name="dataSource" ref="dataSource" />
	</bean> 
 	
<!-- 	<bean id = "userRegistrationEventListener" class = "com.appdomain.eventlisteners.UserRegistrationEventListener"/>
	
	<bean id = "userRegistrationEvent"  class = "com.appdomain.events.UserRegistrationEvent"/>  -->
	
</beans>
